/***************************************************************
 ****           Feuille de style : page d'Accueil           ****
 **************************************************************/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}