/***************************************************************
 ****          Feuille de style : fiche Logement            ****
 **************************************************************/

.ads-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 92%;
}

.ads-header__rental{
    width: 70%;
    margin: 20px 0;
}

.rental__title{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.rental__location{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #FF6060;
}

.rental__tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 7px;
    min-width: 115px;
    width: auto;
    height: 25px;
}

.ads-header__host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.host__profile{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.host__name{
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    text-align: right;
    color: #FF6060;
    width: 93px;
}

.host__pic{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.host__rating{
    margin-right: -20px;
}

.ads-body{
    display: flex;
    justify-content: space-between;
    width: 92%;
    column-gap: 8%;
    margin: 20px 0;
    font-size: 18px;
}

.ads-body__item{
    font-size: 18px;
}

.ads-body__item-details{
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 400;
}

/* Respsonsive Design */
@media all and (max-width:768px){
    .ads-header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
    }

    .ads-header__rental{
        width: 100%;
    }
    
    .rental__title{
        font-size: 18px;
        font-weight: 500;
    }

    .rental__location{
        font-size: 14px;
        font-weight: 500;
    }

    .rental__tags{
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
        min-width: 100px;
        align-items: center;
    }

    .tag{
        border-radius: 5px;
        font-size: 10px;
        height: 18px;
        min-width: 85px;
        width: auto;
        margin: 0;
    }

    .ads-header__host{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
    }
    
    .host__profile{
        margin-bottom: 0;
    }

    .host__pic{
        width: 32px;
        height: 32px;
    }

    .host__name{
        font-size: 12px;
    }

    .ads-body{
        flex-direction: column;
        row-gap: 1rem;
    }

    .ads-body__item-details{
        font-size: 12px;
        font-weight: 400;
        min-height: 0;
    }
}